<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>{{titulo}}</title>

</head>
<body>
 
    <header>
        <h1>Hoy el clima </h1>
    </header>
    
    
     <p>Introduce la ciudad que desea conocer su clima</p>
    <section class="busqueda">
        <form action="buscar">
             <span class="input"> 
            <input required="required" type="text" id= "buscar" name="buscar" placeholder="Ingrese la ciudad">
              </span>
            <input type="submit" value="Buscar">
        </form>
       
    </section>

<footer>
    <p>&copy; 2021 Edgar Alejandro Jarquin Flores</p>  
</footer>

</body>
</html>